In [0]:
# We are importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [77]:
# We are importing and reading dataset 
train_data = pd.read_csv('train_AV3.csv')
train_data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [78]:
# describing the dataset values
train_data.describe(include='all')

         Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
count        614    601     611  ...     564.000000           614         614
unique       614      2       2  ...            NaN             3           2
top     LP002917   Male     Yes  ...            NaN     Semiurban           Y
freq           1    489     398  ...            NaN           233         422
mean         NaN    NaN     NaN  ...       0.842199           NaN         NaN
std          NaN    NaN     NaN  ...       0.364878           NaN         NaN
min          NaN    NaN     NaN  ...       0.000000           NaN         NaN
25%          NaN    NaN     NaN  ...       1.000000           NaN         NaN
50%          NaN    NaN     NaN  ...       1.000000           NaN         NaN
75%          NaN    NaN     NaN  ...       1.000000           NaN         NaN
max          NaN    NaN     NaN  ...       1.000000           NaN         NaN

[11 rows x 13 columns]

In [79]:
# Checking if there exits a null value
train_data.isnull()

     Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0      False   False    False  ...           False          False        False
1      False   False    False  ...           False          False        False
2      False   False    False  ...           False          False        False
3      False   False    False  ...           False          False        False
4      False   False    False  ...           False          False        False
..       ...     ...      ...  ...             ...            ...          ...
609    False   False    False  ...           False          False        False
610    False   False    False  ...           False          False        False
611    False   False    False  ...           False          False        False
612    False   False    False  ...           False          False        False
613    False   False    False  ...           False          False        False

[614 rows x 13 columns]

In [80]:
train_data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [0]:
# Now we filling the missing values with their mode values

In [0]:
# filling the nan values of Gender column with their mode value
train_data['Gender'] = train_data['Gender'].fillna(train_data['Gender'].dropna().mode().values[0])
# mapping the Categorical values of Gender to 0 and 1
train_data['Gender'] = train_data['Gender'].map({'Female':0,'Male':1}).astype(int)


# filling the nan values of Married column with their mode value
train_data['Married'] = train_data['Married'].fillna(train_data['Married'].dropna().mode().values[0])
# mapping the Categorical values of Gender to 0 and 1
train_data['Married'] = train_data['Married'].map({'No': 0, 'Yes':1}).astype(int)


# filling the nan values of Depandents column with their mode value
train_data['Dependents'] = train_data['Dependents'].fillna(train_data['Dependents'].dropna().mode().values[0])
# remove the + literal after 3
train_data['Dependents'] = train_data['Dependents'].str.rstrip('+')
# converting all the dependents column values to int so that we could remove 3+ values
train_data['Dependents'] = train_data['Dependents'].astype(int)



# filling the nan values of Education column with their mode value
train_data['Education'] = train_data['Education'].fillna(train_data['Education'].dropna().mode().values[0])
# mapping the Categorical values of Education to 0 and 1
train_data['Education'] = train_data['Education'].map({'Not Graduate': 0, 'Graduate':1}).astype(int)


# filling the nan values of Self Employed column with their mode value
train_data['Self_Employed'] = train_data['Self_Employed'].fillna(train_data['Self_Employed'].dropna().mode().values[0])
# mapping the Categorical values of Self Employed to 0 and 1
train_data['Self_Employed'] = train_data['Self_Employed'].map({'No': 0, 'Yes':1}).astype(int)

# Applicant Income and Coapplicant Income columns have no missing and categorical values. So we don't preprocessed it

# filling the nan values of Loan Amount column with their mode value
train_data['LoanAmount'] = train_data['LoanAmount'].fillna(train_data['LoanAmount'].dropna().mode().values[0])


# filling the nan values of Loan Amount Term column with their mode value
train_data['Loan_Amount_Term'] = train_data['Loan_Amount_Term'].fillna(train_data['Loan_Amount_Term'].dropna().mode().values[0])


# filling the nan values of Credit History column with their mode value
train_data['Credit_History'] = train_data['Credit_History'].fillna(train_data['Credit_History'].dropna().mode().values[0])


# mapping the Categorical values of Property Area to 0 and 1
train_data['Property_Area'] = train_data['Property_Area'].map({'Urban': 0, 'Rural':1,'Semiurban':2}).astype(int)


# Mapping the Loan Status columns to int
train_data['Loan_Status'] = train_data['Loan_Status'].map({'N':0,'Y':1}).astype(int)

In [82]:
train_data.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [0]:
train_x = train_data.iloc[:,1:12]
train_y = train_data.iloc[:,12]

In [84]:
train_x.head()

   Gender  Married  Dependents  ...  Loan_Amount_Term  Credit_History  Property_Area
0       1        0           0  ...             360.0             1.0              0
1       1        1           1  ...             360.0             1.0              1
2       1        1           0  ...             360.0             1.0              0
3       1        1           0  ...             360.0             1.0              0
4       1        0           0  ...             360.0             1.0              0

[5 rows x 11 columns]

In [85]:
train_x['Property_Area'].unique()

array([0, 1, 2])

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(train_x)

In [107]:
from sklearn import svm
clf = svm.SVC(kernel='rbf')
clf.fit(X_train,train_y )

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [88]:
test_data = pd.read_csv('test_AV3.csv')
test_data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001015   Male     Yes  ...            1.0         Urban           Y
1  LP001022   Male     Yes  ...            1.0         Urban           Y
2  LP001031   Male     Yes  ...            1.0         Urban           Y
3  LP001035   Male     Yes  ...            NaN         Urban           Y
4  LP001051   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [0]:
# filling the nan values of Gender column with their mode value
test_data['Gender'] = test_data['Gender'].fillna(test_data['Gender'].dropna().mode().values[0])
# mapping the Categorical values of Gender to 0 and 1
test_data['Gender'] = test_data['Gender'].map({'Female':0,'Male':1}).astype(int)


# filling the nan values of Married column with their mode value
test_data['Married'] = test_data['Married'].fillna(test_data['Married'].dropna().mode().values[0])
# mapping the Categorical values of Gender to 0 and 1
test_data['Married'] = test_data['Married'].map({'No': 0, 'Yes':1}).astype(int)


# filling the nan values of Depandents column with their mode value
test_data['Dependents'] = test_data['Dependents'].fillna(test_data['Dependents'].dropna().mode().values[0])
# remove the + literal after 3
test_data['Dependents'] = test_data['Dependents'].str.rstrip('+')
# converting all the dependents column values to int so that we could remove 3+ values
test_data['Dependents'] = test_data['Dependents'].astype(int)



# filling the nan values of Education column with their mode value
test_data['Education'] = test_data['Education'].fillna(test_data['Education'].dropna().mode().values[0])
# mapping the Categorical values of Education to 0 and 1
test_data['Education'] = test_data['Education'].map({'Not Graduate': 0, 'Graduate':1}).astype(int)


# filling the nan values of Self Employed column with their mode value
test_data['Self_Employed'] = test_data['Self_Employed'].fillna(test_data['Self_Employed'].dropna().mode().values[0])
# mapping the Categorical values of Self Employed to 0 and 1
test_data['Self_Employed'] = test_data['Self_Employed'].map({'No': 0, 'Yes':1}).astype(int)

# Applicant Income and Coapplicant Income columns have no missing and categorical values. So we don't preprocessed it

# filling the nan values of Loan Amount column with their mode value
test_data['LoanAmount'] = test_data['LoanAmount'].fillna(test_data['LoanAmount'].dropna().mode().values[0])


# filling the nan values of Loan Amount Term column with their mode value
test_data['Loan_Amount_Term'] = test_data['Loan_Amount_Term'].fillna(test_data['Loan_Amount_Term'].dropna().mode().values[0])


# filling the nan values of Credit History column with their mode value
test_data['Credit_History'] = test_data['Credit_History'].fillna(test_data['Credit_History'].dropna().mode().values[0])


# mapping the Categorical values of Property Area to 0 and 1
test_data['Property_Area'] = test_data['Property_Area'].map({'Urban': 0, 'Rural':1,'Semiurban':2}).astype(int)


# Mapping the Loan Status columns to int
test_data['Loan_Status'] = test_data['Loan_Status'].map({'N':0,'Y':1}).astype(int)

In [90]:
test_data.head()

    Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0  LP001015       1        1  ...             1.0              0            1
1  LP001022       1        1  ...             1.0              0            1
2  LP001031       1        1  ...             1.0              0            1
3  LP001035       1        1  ...             1.0              0            1
4  LP001051       1        0  ...             1.0              0            1

[5 rows x 13 columns]

In [0]:
test_x = test_data.iloc[:,1:12]
test_y = test_data.iloc[:,12]

In [94]:
test_y.head()

0    1
1    1
2    1
3    1
4    1
Name: Loan_Status, dtype: int64

In [0]:
predicted = clf.predict(test_x)

In [103]:
from sklearn.metrics import accuracy_score
print(accuracy_score(test_y,predicted))

0.8419618528610354

In [156]:
print(classification_report(test_y, predicted ))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        58
           1       0.84      1.00      0.91       309

    accuracy                           0.84       367
   macro avg       0.42      0.50      0.46       367
weighted avg       0.71      0.84      0.77       367

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [0]:
# Trainig with Logistic Regression

In [0]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, train_y)

In [0]:
predicted_with_logistic_regression = clf.predict(test_x)

In [116]:
print(accuracy_score(test_y,predicted_with_logistic_regression))

0.5286103542234333

In [155]:
print(classification_report(test_y, predicted_with_logistic_regression))

              precision    recall  f1-score   support

           0       0.17      0.52      0.26        58
           1       0.85      0.53      0.65       309

    accuracy                           0.53       367
   macro avg       0.51      0.52      0.46       367
weighted avg       0.75      0.53      0.59       367

In [0]:
# Training with K Nearest Neighbour

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [149]:
neigh = KNeighborsClassifier(n_neighbors=13)
neigh.fit(X_train, train_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=13, p=2,
                     weights='uniform')

In [0]:
predicted_with_knn = neigh.predict(test_x)

In [151]:
print(accuracy_score(test_y,predicted_with_knn))

0.8446866485013624

In [154]:
print(classification_report(test_y, predicted_with_knn))

              precision    recall  f1-score   support

           0       0.53      0.16      0.24        58
           1       0.86      0.97      0.91       309

    accuracy                           0.84       367
   macro avg       0.69      0.56      0.58       367
weighted avg       0.81      0.84      0.81       367

In [0]:
# Training with Decision Tree

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
clf = DecisionTreeClassifier(random_state=0)
clf = clf.fit(X_train, train_y)

In [0]:
predicted_with_decision_tree = clf.predict(test_x)

In [130]:
print(accuracy_score(test_y,predicted_with_decision_tree))

0.15803814713896458

In [0]:
from sklearn.metrics import classification_report

In [153]:
print(classification_report(test_y, predicted_with_decision_tree))

              precision    recall  f1-score   support

           0       0.16      1.00      0.27        58
           1       0.00      0.00      0.00       309

    accuracy                           0.16       367
   macro avg       0.08      0.50      0.14       367
weighted avg       0.02      0.16      0.04       367

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))